/* * {
  font-family: Georgia, 'Times New Roman', Times, serif;
} */


/* from package-lock.json:

 scripts: // {
  //   "start": "react-scripts start",
  //   "build": "react-scripts build",
  //   "test": "react-scripts test",
  //   "eject": "react-scripts eject"
  // }
  
  */